<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a href="/myapp/changepass/">changepassword</a>
<br>
<a href="/myapp/busadds/">Addbus</a>
<br>
<a href="/myapp/busview/">Viewbus</a>
<br>
<a href="/myapp/busstopadds/">Addbusstop</a>
<br>
<a href="/myapp/busstopviews/">Viewbusstop</a>
<br>
<a href="/myapp/locations/">Location</a>
<br>
<a href="/myapp/notification/">Notification</a>
<br>
<a href="/myapp/adminnviewnotification/">AdminViewNotification</a>
<br>
<a href="/myapp/emergencynotify/">EmergencyNotification</a>
<br>
<a href="/myapp/adminnewemergencynotification/">ViewEmergencyNotification</a>
<br>
<a href="/myapp/user/">Userviews</a>
<br>
<a href="/myapp/routeadds/">AddRoute</a>
<br>
<a href="/myapp/routeedits/">EditRoute</a>
<br>
<a href="/myapp/routeviews">RouteView</a>


</body>
</html>