<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
{% extends 'homeindex.html' %}
{% block body %}
<form id="form1" name="form1" method="post" action="/myapp/busstopedits_post/">
{% csrf_token %}
  <table class="table table-bordered">
  <tr>
    <td>Route</td>
     <td> <select name="textfield" class="form-control">
         {% for i in data %}
          <option value="{{ i.id }}">{{ i.routename }}</option>
          {%  endfor %}
      </select>

      <input type="hidden" name="id" value="{{ data1.id }}" id="textfield" />
      </td>
  </tr>

  <tr>
    <td>Placename</td>
    <td><label for="textfield2"></label>
      <input type="text" class="form-control" required name="textfield2" value="{{ data1.placename }}" id="textfield2" /></td>
  </tr>
  <tr>
    <td>Latitude</td>
    <td><label for="textfield3"></label>
      <input type="text" class="form-control" required name="textfield3" value="{{ i.latitude }}" id="textfield3" /></td>
  </tr>
  <tr>
    <td>Longitude</td>
    <td><label for="textfield4"></label>
      <input type="text" class="form-control" required name="textfield4"  value="{{ i.longitude }}" id="textfield4" /></td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td><input type="submit" name="button" id="button" class="btn btn-success" value="Edit" /></td>
  </tr>
</table>
</form>
{% endblock %}

</body>
</html>
