<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
{% extends 'homeindex.html' %}
{% block body %}
<form action="/myapp/notification_post/" method="post">
<table class="table table-bordered">
    {% csrf_token %}
  <tr>
    <td>Message</td>
    <td><label for="textfield"></label>
      <input type="text" required class="form-control" name="textfield" id="textfield" /></td>
  </tr>
  <tr>
    <td><input type="submit" name="button2" class="btn btn-success" id="button2" value="Submit" /></td>
  </tr>
</table>
</form>
{% endblock %}

</body>
</html>
