<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
{% extends 'homeindex.html' %}
{% block body %}
<form action="/myapp/routeadds_post/" method="POST">
    {% csrf_token %}
<table class="table table-bordered">
  <tr>
    <td>Routename</td>
    <td><label for="textfield"></label>
      <input type="text" required class="form-control" name="textfield" id="textfield" /></td>
  </tr>
  <tr>
    <td>FromPlace</td>
    <td><label for="textfield2"></label>
      <input type="text" required class="form-control" name="textfield2" id="textfield2" /></td>
  </tr>
  <tr>
    <td>Toplace</td>
    <td><label for="textfield3"></label>
      <input type="text" required class="form-control" name="textfield3" id="textfield3" /></td>
  </tr>
  
  <tr>
    <td>&nbsp;</td>
    <td><input type="submit" name="button" class="btn btn-success" id="button" value="add" /></td>
  </tr>
</table>
</form>
{% endblock %}

</body>
</html>
